
{% extends "base.html" %}

{%block content%}

<header class="masthead">
  <div class="container">
    <h1>We have received your order!</h1>
    <hr>
    <h2>Book order details</h2>
    <div class="row">

      <div class="row">
      <div class="col-md-4">
        <br>
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
      </div>
      <div class="col-md-8">
      <div class="row">
      <h1>Title</h1>
      <h3>Author</h3>
      <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
      </div>

      </div>
      </div>

      <div class="row">
      <div class="col-md-12">
        <h3>Quantity:</h3>
        <h3>Date:</h3>
        <h3>Order By:</h3>
      </div>
      </div>


    </div>
  </div>

    <div class="container">
  <div class="row">
      <div class="col col-sm-12">
        <h1 class="page-header">Others also buy</h1>
        <div class="panel">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>
        </div>
        </div>

      </div>
    </div>
  </div>


</header>


    </div>
    <script type="text/javascript">
    $('#advance_search').click(function(){
      $('#advance_search_box').toggle("slow")
    });

    </script>

{%endblock%}
